/* add css module styles here (optional) */

:root {
    --mainColor: #4CAF50;
}

.pagination {
    display: inline-block;
}

.pageBtn {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    font-size: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pageBtn:hover {
    background-color: var(--mainColor);
    transition: background-color .3s;
}

.pageBtnActive {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    font-size: 12px;
    cursor: pointer;
    background-color: var(--mainColor);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.disabled {
    cursor: not-allowed;
    pointer-events: auto;
    background-color: rgb(241, 240, 240);
}

.disabled:hover {
    pointer-events: none;
    background-color: rgb(241, 240, 240);
}

.prev {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.next {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}